.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-container {
  padding: 10px;
  border: 1px solid silver;
}

.text-container .text {
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  width: 100%;
  height: 350px;
  text-align: center;
  font-size: larger;
}

.header-yellow {
  box-shadow: 0.5rem 0 0 #fed136, -0.5rem 0 0 #fed136;
  background-color: #fed136;
  color: black;
  padding: 1rem;
  text-align: center;
  white-space: break-spaces;
}
